In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\MyPC\OneDrive\Máy tính\pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [4]:
df.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [5]:
df.loc[df['Type 2'].isna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [6]:
df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df.fillna('None',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      800 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [8]:
df[['Name','Type 1','Type 2']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire    None
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [9]:
df.iloc[15:20]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False

In [10]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,None,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [11]:
cols = list(df.columns.values)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [12]:
# new dataframe
df = df[cols[:4]+cols[-1:]+cols[4:12]]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
# filtering data
df.loc[(df['Type 1'] == 'Bug') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
53,48,Venonat,Bug,Poison,305,60,55,50,40,55,45,1,False
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
182,168,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,False
292,269,Dustox,Bug,Poison,385,60,50,70,50,90,65,3,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
604,544,Whirlipede,Bug,Poison,360,40,55,99,40,79,47,5,False
605,545,Scolipede,Bug,Poison,485,60,100,89,55,69,112,5,False

In [14]:
df.loc[df['Type 1'].isin(['Bug','Fire'])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,None,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,665,Spewpa,Bug,None,213,45,22,60,27,30,29,6,False
734,666,Vivillon,Bug,Flying,411,80,52,50,90,50,89,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [15]:
df.nunique()

#             721
Name          800
Type 1         18
Type 2         19
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [16]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [17]:
df[df['Type 1'] == 'Bug']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,None,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,None,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False
732,664,Scatterbug,Bug,None,200,38,35,40,27,25,35,6,False
733,665,Spewpa,Bug,None,213,45,22,60,27,30,29,6,False
734,666,Vivillon,Bug,Flying,411,80,52,50,90,50,89,6,False

In [18]:
df.loc[df['Type 1'] == 'Bug']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,None,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,None,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False
732,664,Scatterbug,Bug,None,200,38,35,40,27,25,35,6,False
733,665,Spewpa,Bug,None,213,45,22,60,27,30,29,6,False
734,666,Vivillon,Bug,Flying,411,80,52,50,90,50,89,6,False

In [19]:
df.groupby('Attack').max()

,#,Name,Type 1,Type 2,Total,HP,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Attack,,,,,,,,,,,,
5,440,Happiny,Normal,None,450,250,5,35,105,50,4,False
10,242,Shuckle,Water,Rock,540,255,230,75,230,80,2,False
15,349,Feebas,Water,None,200,20,20,10,55,80,3,False
20,458,Togepi,Water,None,345,70,65,105,120,90,4,False
22,665,Spewpa,Bug,None,213,45,60,27,30,29,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...
165,475,Rampardos,Rock,None,618,97,95,93,115,110,4,False
170,646,KyuremBlack Kyurem,Dragon,Ice,700,125,115,120,95,95,5,True
180,386,RayquazaMega Rayquaza,Psychic,None,780,105,160,180,100,150,3,True
185,214,HeracrossMega Heracross,Bug,Fighting,600,80,115,40,105,75,2,False
190,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,100,154,100,130,1,True

In [20]:
df.groupby('Attack').min()

,#,Name,Type 1,Type 2,Total,HP,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Attack,,,,,,,,,,,,
5,113,Chansey,Normal,None,220,100,5,15,65,30,1,False
10,129,Blissey,Bug,None,200,20,10,10,20,5,1,False
15,349,Feebas,Water,None,200,20,20,10,55,80,3,False
20,11,Abra,Bug,Fairy,190,25,15,20,25,20,1,False
22,665,Spewpa,Bug,None,213,45,60,27,30,29,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...
165,354,BanetteMega Banette,Ghost,Fighting,495,64,60,65,50,58,3,False
170,445,GarchompMega Garchomp,Dragon,Ground,700,108,100,120,90,92,4,False
180,383,DeoxysAttack Forme,Dragon,Fire,600,50,20,150,20,90,3,True
185,214,HeracrossMega Heracross,Bug,Fighting,600,80,115,40,105,75,2,False
190,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,100,154,100,130,1,True

In [21]:
df.sort_values(['Attack'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,None,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,None,450,250,5,5,35,105,50,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
261,242,Blissey,Normal,None,540,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,None,200,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,None,600,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [22]:
df.groupby('Attack').get_group(190)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [23]:
# rename column label (columns={'old name' : 'new name'})
# or ({'old name' : 'new name'},axis=1)
df.rename(columns={'Sp. Atk':'Atk Speed','Sp. Def':'Def Speed'},errors='raise')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Atk Speed,Def Speed,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [24]:
# finding mean values for numerical columns
total_mean = df.mean(numeric_only=True)

In [25]:
import matplotlib.pyplot as plt
# labels = list(df.columns.values)

In [26]:
df['Name'].str[0:4]

0      Bulb
1      Ivys
2      Venu
3      Venu
4      Char
       ...
795    Dian
796    Dian
797    Hoop
798    Hoop
799    Volc
Name: Name, Length: 800, dtype: object

In [27]:
df['Name'].str.split( ).str.get(-1)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3        Venusaur
4      Charmander
          ...
795       Diancie
796       Diancie
797      Confined
798       Unbound
799     Volcanion
Name: Name, Length: 800, dtype: object

In [28]:
# remove all records (rows) where Attack is below 5
df[~(df['Attack'] <= 5)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [29]:
df['HP'] = df['HP'].apply(lambda x: x+5)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,50,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,65,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,85,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,85,100,123,122,120,80,1,False
4,4,Charmander,Fire,None,309,44,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,55,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,55,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,85,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,85,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,85,110,120,130,90,70,6,True

In [30]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,50,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,65,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,85,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,85,100,123,122,120,80,1,False
4,4,Charmander,Fire,None,309,44,52,43,60,50,65,1,False

In [31]:
df.Speed.value_counts()

50     46
60     44
70     37
65     36
30     35
       ..
39      1
24      1
82      1
113     1
123     1
Name: Speed, Length: 108, dtype: int64

In [34]:
# change row entries by using .map
df['New Life'] = df['Generation'].map({1: 'Number one', 2 : 'Number two'})
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,New Life
0,1,Bulbasaur,Grass,Poison,318,50,49,49,65,65,45,1,False,Number one
1,2,Ivysaur,Grass,Poison,405,65,62,63,80,80,60,1,False,Number one
2,3,Venusaur,Grass,Poison,525,85,82,83,100,100,80,1,False,Number one
3,3,VenusaurMega Venusaur,Grass,Poison,625,85,100,123,122,120,80,1,False,Number one
4,4,Charmander,Fire,None,309,44,52,43,60,50,65,1,False,Number one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,55,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,700,55,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,600,85,110,60,150,130,70,6,True,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,680,85,160,60,170,130,80,6,True,NaN
799,721,Volcanion,Fire,Water,600,85,110,120,130,90,70,6,True,NaN

In [35]:
df.groupby('Type 1').Total.describe()

          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  378.927536  117.875223  194.0  269.00  395.0  475.00  600.0
Dark       31.0  445.741935  109.126217  220.0  359.00  465.0  510.00  680.0
Dragon     32.0  550.531250  146.267538  300.0  420.00  600.0  680.00  780.0
Electric   44.0  443.409091  105.721952  205.0  362.25  477.5  520.00  610.0
Fairy      17.0  413.176471  123.781680  218.0  323.00  405.0  483.00  680.0
Fighting   27.0  416.444444  102.464378  210.0  326.50  455.0  497.50  625.0
Fire       52.0  458.076923  109.760496  250.0  368.00  482.0  534.00  680.0
Flying      4.0  485.000000  161.400124  245.0  462.50  557.5  580.00  580.0
Ghost      32.0  439.562500  110.072685  275.0  335.00  464.5  495.75  680.0
Grass      70.0  421.142857  106.650626  180.0  318.50  430.0  497.00  630.0
Ground     32.0  437.500000  123.913081  265.0  329.50  440.0  512.25  770.0
Ice        24.0  433.458333  108.281027  250.0  305.00  467.5  526.25  580.0
Normal     98.0  401.683673  115.733038  190.0  302.50  415.0  481.50  720.0
Poison     28.0  399.142857   92.358687  245.0  323.75  401.5  490.00  535.0
Psychic    57.0  475.947368  139.026645  198.0  336.00  485.0  600.00  780.0
Rock       44.0  453.750000  108.059227  280.0  360.25  467.5  516.50  700.0
Steel      27.0  487.703704  115.420907  300.0  425.00  500.0  580.00  700.0
Water     112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0

In [37]:
df.loc[df['Total'] == 770.0]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,New Life
422,382,KyogrePrimal Kyogre,Water,None,770,105,150,90,180,160,90,3,True,NaN
424,383,GroudonPrimal Groudon,Ground,Fire,770,105,180,160,150,90,90,3,True,NaN

In [39]:
df.groupby(df['Name'].str.contains('Venusaur')).Total.describe()

       count       mean         std    min    25%    50%    75%    max
Name
False  798.0  434.75188  119.882172  180.0  330.0  450.0  515.0  780.0
True     2.0  575.00000   70.710678  525.0  550.0  575.0  600.0  625.0

In [45]:
import re
df['Name'][df['Name'].str.contains('^Be',flags=re.I)]

18                  Beedrill
19     BeedrillMega Beedrill
75                Bellsprout
197                Bellossom
290                Beautifly
410                   Beldum
667                 Beheeyem
675                  Beartic
788                 Bergmite
Name: Name, dtype: object